# Essential for the Streamlit app
streamlit

# NLP and model
transformers
torch

# Data handling
pandas==2.2.2
numpy>=1.26 # Compatible with pandas 2.2.2 and torch

#Tokenizer support
scipy>=1.11

# Google Sheets integration
gspread==5.12.0
oauth2client==4.1.3

# Optional but useful (e.g., logging/debugging)
absl-py==1.4.0
